/* DARK THEME */
body {
    margin: 0;
    background: #7B9669; /* Dark green shade */
    font-family: Arial, sans-serif;
    color: #000;
}

/* LAYOUT WRAPPER */
.container {
    display: flex;
    height: 100vh;
}

/* LEFT SIDEBAR */
.sidebar {
    width: 250px;
    background: #e6e6e6; /* darker green */
    padding: 20px;
    box-shadow: 2px 0px 6px rgba(0,0,0,0.3);
}

.logo {
    color: #000; /* bright green */
    text-align: center;
    margin-bottom: 30px;
}

.menu {
    list-style: none;
    padding: 0;
}

.menu li {
    padding: 12px;
    margin: 8px 0;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s;
}

.menu li:hover,
.menu .active {
    background: #e6e6e6;
}

/* MAIN CONTENT */
.main {
    flex: 1;
    padding: 10px;
    margin-left:0px;
}

.header h2 {
    margin: 0;
}

.content-box {
    margin-top: 30px;
    background: #e6e6e6;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
}


/* AUTH PAGES (Signup/Login) */

.auth-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #7B9669; 
}

.auth-box {
    width: 360px;
    background: #E6E6E6;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0,0,0,0.35);
}

.auth-box h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #2ecc71;
}

/* Input Styling */
.auth-box input {
    width: 100%;
    padding: 12px;
    margin: 8px 0 18px 0;
    border: none;
    outline: none;
    background: #7B9669;
    color: #000;
    border-radius: 6px;
}

/* Button */
.auth-btn {
    width: 100%;
    padding: 12px;
    background: #2ecc71;
    color: black;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 10px;
}

.auth-btn:hover {
    background: #2ecc71;
}

input::placehlder{
    color:#000;
}
/* Text link */
.switch-link {
    text-align: center;
    margin-top: 15px;
}

.switch-link a {
    color: #34d399;
    text-decoration: none;
}

.switch-link a:hover {
    text-decoration: underline;
}


.logo {
  font-weight: 700;
  font-size: 25px;
  color: #000;
  margin-left:25px;
}

.create-room {
    background: #2ecc71;
    padding: 10px 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 400px;
}

.rooms-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.room-card {
    width: 200px;
    padding: 15px;
    background: #1a3328;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0,0,0,0.4);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

