<meta name="viewport" content="width=device-width, initial-scale=1.0">
<nav class="navbar">
  <div class="logo">StudyRoom</div>
  <div class="links">
    <a href="/features">Features</a>
    <a href="#">Rooms</a>
    <a href="/login">Login</a>
  </div>
</nav>
<link rel="stylesheet" href="/static/theme.css">
<link rel="stylesheet" href="/static/start.css">
<section class="hero">
  <div class="hero-text">
    <h1>FOCUS.  
    STUDY.  
    ACHIEVE.</h1>

    <p>Join your virtual study room, use focus timers,
    share tasks, chat with friends, and stay productive.</p>

    <a href="/signup"><button class="btn">Get Started</button></a>
  </div>

  <div class="hero-img">
    <img src="/static/second.png" alt="Study Image">
  </div>
</section>