<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/static/room.css">


<div class="room-layout">

  <aside class="members-panel">
    <h3>Members</h3>
    <ul class="member-list"></ul>
  </aside>

  
  <div class="room-main">

    
    <div class="files">
      <button id="toggleFiles" class="files-btn">Files</button>
    </div>

    <div class="files-panel" id="filesPanel">
      {% for file in files %}
      <div class="file-item">
        <a href="/files/{{ file.filename }}">{{ file.filename }}</a>
      </div>
      {% else %}
      <p>No files uploaded yet</p>
      {% endfor %}
    </div>

    
    {% if room.pomodoro_enabled %}
    <div class="pomodoro-box">
      <h3>Pomodoro Timer</h3>
      <div id="timer" class="timer-display">25:00</div>

      <div class="timer-buttons">
        <button onclick="startTimer()">Start</button>
        <button onclick="pauseTimer()">Pause</button>
        <button onclick="resetTimer()">Reset</button>
      </div>

      <p id="session-label">Work Session</p>
    </div>
    {% endif %}

    
    <div class="room-container">

      <header>
        <h2>Room {{ room.room_code }}</h2>
        <span>{{ room.room_type | upper }} • {{ room.level }}</span>
      </header>

      <script>
        const ROOM_CODE = "{{ room.room_code }}";
      </script>
      <script src="/static/room.js"></script>

      {% if room.chat_type != "none" %}
      <div class="chat-box">
        <div class="message">
          {% if room.chat_type == "quick" %}
            <p class="hint">Quick chat enabled</p>
          {% else %}
            <div class="messages" id="messagesBox"></div>
          {% endif %}
        </div>

        <form id="chat-form">
          <input type="text" id="chat-input"
            placeholder="Type message..."
            {% if room.chat_type == "quick" %}disabled{% endif %} required>
          <button type="submit">Send</button>
        </form>
      </div>
      {% endif %}

      <form action="/upload_file/{{ room.id }}" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" required>
        <button type="submit" class="action-btn">Upload File</button>
      </form>

      {% if room.voice_chat == "on" %}
      <button class="action-btn"> Join Voice</button>
      {% endif %}

    </div>
  </div>
</div>
<script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
<script src="/static/pomodoro.js"></script>


