<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup - MyApp</title>
    <link rel="stylesheet" href="/static/theme.css">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div class="auth-container">

    <div class="auth-box">
        <h2>Create Account</h2>

        <form action="/signup" method="POST">

            <label>Username</label>"
            <input type="text" name="username" placeholder="Enter your Username" required>

            <label>Email</label>
            <input type="email" name="email" placeholder="Enter your email" required>

            <label>Password</label>
             <div class="password-wrapper">
    <input type="password" id="password" name="password"  placeholder="Create Password" required>
    <span onclick="togglePassword()" class="eye">👁️</span>
</div>



            <a href="/main"><button type="submit" class="auth-btn">Sign Up</button></a>

            <p class="switch-link">
                Already have an account? <a href="/login">Login</a>
            </p>
            {% if error %}
                <p style="color:red; text-align:center;">{{ error }}</p>
            {% endif %}

        </form>
    </div>

</div>
<script>
function togglePassword() {
    const pass = document.getElementById("password");
    const confirm = document.getElementById("confirm_password");

    if (pass.type === "password") {
        pass.type = "text";
        if (confirm) confirm.type = "text";
    } else {
        pass.type = "password";
        if (confirm) confirm.type = "password";
    }
}
</script>
</body>
</html>
